body {
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: "Roboto Mono", monospace;
}

#app {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.header {
    margin-top: 30px;
    text-align: center;
}

.header > span {
    display: block;
}

.project {
    padding: 50px;
    background-color: rgb(26, 26, 26);
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid rgb(45, 36, 47);
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0px 0px 30px rgba(45, 0, 75, 0.4);
}

.project:hover {
    transform: scale(1.01);
    animation-name: background-move;
    animation-iteration-count: 1;
    animation-duration: 4s;
}

.project > span {
    display: block;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(98, 0, 128);
}

.project .title {
    font-weight: bolder;
    font-size: 40px;
}

.project .description {
    font-weight: light;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
}

.social > span {
    color: #dddddd;
}

.social > img {
    width: 2em;
}

/* bg images */

@keyframes background-move {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 10%;
    }
}

hr {
    height: 1px;
    border: none;
    background-color: rgb(50, 50, 50);
}


.heading {
    padding: 10px 10px 10px 10px;
    display: block;
    text-align: center;
}

.class-section {
    margin: 10px;
    padding: 10px;
    background-color: rgb(34, 34, 34);
}

.class-section > span {
    display: block;
}

.projects {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.new-project {
    padding: 10px;
    margin: 5px;
}

.new-project {
    transition: all 0.2s;
}

.new-project * {
    transition: all 0.2s;
}

.new-project:hover {
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    transform: scale(1.01);
}

.new-project:hover .title {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1em !important;
}

.projectinfo > .title {
    font-size: 2em;
    padding-bottom: 5px;
    font-weight: bold;
}

.new-project:hover .desc {
    font-size: 1em;
    max-lines: none;
    overflow: none;
    max-height: none;
    color: white;
}

.clickme {
    color: rgb(163, 195, 255);
    text-decoration: underline;
}

.new-project .hidden {
    display: none;
    font-size: 0.8em;
    color: rgb(217, 142, 246);
}

.new-project:hover .hidden {
    display: block;
}

.projectinfo > .desc {
    font-size: 0.7em;
    max-lines: 2;
    overflow: hidden;
    word-wrap: ellipsis;
    max-height: 2.6em;
    color: rgba(255, 255, 255, 0.4);
}

.longinfo {
    display: none;
}

.new-project > img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 3px;
}

.projectinfo > span {
    display: block;
}
.hidden > span {
    display: block;
}
