body {
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#app {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.header {
    margin-top: 30px;
    text-align: center;
}

.header > span {
    display:block;
}

.project {
    padding: 50px;
    background-color: rgb(26, 26, 26);
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid rgb(45, 36, 47);
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0px 0px 30px rgba(45, 0, 75, 0.4);
}

.project:hover {
    transform: scale(1.01);
    animation-name: background-move;
    animation-iteration-count: 1;
    animation-duration: 4s;
}

.project > span {
    display:block;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(98, 0, 128);
}

.project .title {
    font-weight: bolder;
    font-size: 40px;
}

.project .description {
    font-weight: light;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
}

.social > span {
	color: #dddddd;
}

.social > img {
	width: 2em;
}

/* bg images */

@keyframes background-move {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 0 10%;
    }
}

hr {
	height: 1px;
	border: none;
	background-color: rgb(50,50,50);
}

.project.p5 {
    background-image: url(assets/p5.png);
    background-position: 0 0;
    transition: background-position 0.3s;
}

.project.cd {
    background-image: url(assets/cd.png);
    background-size: 120%;
    transition: background-position 0.3s;
}

.project.iw6ts {
    background-image: url(assets/iw6ts.png);

    background-size: 120%;
    transition: background-position 0.3s;
}

.project.wb {
    background-image: url(assets/wb.png);
    background-repeat: no-repeat;
    background-size: 90%;
    transition: background-position 0.3s;
}

.project.vbhax {
    background-image: url(assets/vbhax.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-position 0.3s;
}

.project.portal {
    background-image: url(assets/portal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-position 0.3s;
}

.project.vase {
    background-image: url(assets/vase.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-position 0.3s;
}

.project.chunks {
    background-image: url(projects/csma111/chunks/preview.png);
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: none;
}

.project.m5sdd {
    background-image: url(assets/m5sdd.png);
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: none;
}

.project.rr {
    background-image: url(assets/roborunner.png);
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: none;
}


.project.autoshow {
    background-image: url(assets/autoshow.png);
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: none;
}

.project.tba {
    filter: blur(5px);
}

.heading {
    padding: 10px 10px 10px 10px;
    display: block;
    text-align: center;
}

.class-section {
    margin: 10px;
    padding: 10px;
    background-color: rgb(34, 34, 34);
}

.class-section > span{
    display: block;
}

.projects {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.new-project {
    padding: 10px;
    margin: 5px;
}

.new-project {
    transition: all 0.2s;
}

.new-project * {
    transition: all 0.2s;
}

.new-project:hover {
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    transform: scale(1.01);
}

.new-project:hover .title {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1em !important;
}


.projectinfo > .title {
    font-size: 2em;
    font-weight: bold;
}

.new-project:hover .desc {
    font-size: 1em;
    max-lines: none;
    overflow: none;
    max-height: none;
    color: white;
}

.clickme {
    color: rgb(163, 195, 255)
}

.new-project .hidden {
    display: none;
    font-size: 0.8em;
    color: rgb(217, 142, 246);
}

.new-project:hover .hidden {
    display: block;
}

.projectinfo > .desc {
    font-size: 0.7em;
    max-lines: 1;
    overflow: hidden;
    word-wrap: ellipsis;
    max-height: 2.6em;
    color: rgba(255, 255, 255, 0.4);
}

.longinfo {
    display: none;
}

.new-project > img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 3px;
}

.projectinfo > span{
    display: block;
}
.hidden > span{
    display: block;
}
