
.truth {
    margin: 1em 0;
    border-collapse: collapse;
}

.truth > * > tr > td {
    padding: 0.4em 0.6em;
    border: 1px solid #a2a9b1;  
}

.gate {
    background-color: rgb(25, 25, 25);
    padding: 20px 20px 20px 20px;
    margin: 20px;
    width: 100px;
    line-height: 30px;
}

.output {
    width: 20px;
    height: 20px;
    background: #ccc;
    display: inline-block;
    border-radius: 10px;
}

.gate.NOT input[type=checkbox]:not(:checked) + .output {
    background: green;
}

.gate.AND input[type=checkbox]:checked + input[type=checkbox]:checked + .output {
    background: green;
}

.gate.OR input[type=checkbox]:checked ~ .output {
    background: green;
}

.gate.NAND .output {
    background: green;
}

.gate.NAND input[type=checkbox]:checked + input[type=checkbox]:checked + .output {
    background: #ccc;
}

.gate.NOR .output {
    background: green;
}
.gate.NOR input[type=checkbox]:checked ~ .output {
    background: #ccc;
}

.gate.XOR input[type=checkbox]:checked + input[type=checkbox]:not(:checked) + .output,
.gate.XOR input[type=checkbox]:not(:checked) + input[type=checkbox]:checked + .output {
  background: green;
}

.xordemo {
    background-color: rgb(25, 25, 25);
    padding: 20px 20px 20px 20px;
    margin: 20px;
    line-height: 30px;
    font-family: monospace;
}  

.zero {
    color:rgb(235, 53, 53);
}

.one {
    color: rgb(55, 231, 55);
}
