body {
    font-family: 'Roboto', monospace;
    background-color: rgb(10, 10, 10);

    color: white;
}

.root {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.topic > .body > span {
    display: block;
}

.content {
    font-size: 1.3em;
}

.topic > .body > .name {
    font-size: 2em;
    font-weight: bold;
}


c {
    color: rgb(219, 56, 56);
}

m {
    font-family: monospace;
    display: inline;
    margin: 5px;
    background-color: rgb(25, 25, 25);
}

.slide-nav {
    border-radius: 3px;
    padding: 10px;
    background-color:rgb(219, 56, 56);
    color: white;
    cursor: pointer;
}

.navigator {
    padding: 10px;
}

code {
    padding: 10px;
    display: block;
    background-color: rgb(25, 25, 25);
    border-radius: 25px;
    white-space: pre-wrap;
}

citation {
    font-size: 0.6em;
}

#slide-next-btn {
    padding: 10px;
    background-color: grey;
}

#slide-back-btn {
    padding: 10px;
    background-color: grey; 
}