.topic-entry {
    padding: 0px;
    display: block;
    background-color: grey;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.topic-entry > span {
    display: block;
    text-align: center;
    margin: auto;
}

.topic-entry > span:nth-child(1) {
    font-weight: bolder;
    font-size: 30px;
}

.topic-entry > span:nth-child(2) {
    font-size: 40px;
}

.bubbles {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}